<p-accordion>
    <p-accordionTab header="水情">
        <ul>
            <li><a href="javascript:;">水情1</a></li>
            <li><a href="javascript:;">水情2</a></li>
            <li><a href="javascript:;">水情3</a></li>
            <li><a href="javascript:;">水情4</a></li>
            <li><a href="javascript:;">水情5</a></li>
        </ul>
    </p-accordionTab>
    <p-accordionTab header="雨情">
        <ul>
            <li><a href="javascript:;">雨情1</a></li>
            <li><a href="javascript:;">雨情2</a></li>
            <li><a href="javascript:;">雨情3</a></li>
            <li><a href="javascript:;">雨情4</a></li>
            <li><a href="javascript:;">雨情5</a></li>
        </ul>
    </p-accordionTab>
    <p-accordionTab header="其他">
        <div>
            Other
        </div>
    </p-accordionTab>
</p-accordion>
