/* ==========================================================================
Main
========================================================================== */
html, body{
    height: 100%;
}

.sidebar{
    width: 260px;
    float: left;
    height: 100%;
    background: #ddd;
}

.main{
    margin-left: 260px;
}
