<div class="layout-wrap" [class.sidebar-collapsed]="isSidebarCollapsed">
    <div class="layout-sidebar">
    	<jhi-sidebar></jhi-sidebar>
    </div>
    <div class="layout-main">
        <div class="navbar">
            <jhi-navbar (toggleSidebar)="toggleSidebar()"></jhi-navbar>
        </div>
        <div class="container-fluid main-content">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
        <jhi-footer></jhi-footer>
    </div>
</div>
