/* ==========================================================================
Main
========================================================================== */
.sidebar{
    width: 260px;
    float: left;
    height: 100%;
    background: #DDDDDD;
}
.main{
    margin-left: 260px;
}
